<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/5a17a54b-ce0a-4383-b7f1-ef4999ff1c09/resourceGroups/admin/providers/Microsoft.Web/sites/krmicro-orders</ResourceId>
    <ResourceGroup>admin</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://krmicro-orders.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c9b60a1a-62fe-4753-a71a-3d2a54925d98</ProjectGuid>
    <PublishUrl>https://krmicro-orders.scm.azurewebsites.net/</PublishUrl>
    <UserName>$krmicro-orders</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>